body {
    margin: 0px;
    padding: 0px;
}

#canvas {
    width: 500px;
    height: 500px;
    border-width: 3px;
    border-color: #c7c7c7;
    border-style: solid;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.rows {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
}
.boxes {
    flex-grow: 1;
    flex-shrink: 1;
}
#sizebutton {
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    padding: 10px;
}